<!-- component introduce -->
<div>
    <div class="bg-[#9cc0f9] text-[#003366]">
        <div class="container mx-auto flex flex-col items-start md:flex-row">
            <!-- intro -->
            <div class="flex flex-col w-full sticky md:top-4 lg:w-1/3 mt-2 md:mt-12 px-8">
                <p class="ml-2 text-yellow-200 uppercase tracking-loose">Simple & Quick</p>
                <p class="text-3xl md:text-4xl leading-normal md:leading-relaxed mb-2">Just a click</p>
                <p class="text-sm md:text-base text-white mb-4">
                    Find nearest places: hospital, school, supermarket, park,...
                </p>
                <div>
                    <a class="mt-4 bg-transparent mr-auto hover:bg-yellow-300 text-yellow-200 hover:text-white rounded shadow hover:shadow-lg py-2 px-4 border border-yellow-300 hover:border-transparent cursor-pointer"
                        routerLink="/map">
                        Explore now</a>
                </div>

                <div class="flex col mt-10 gap-10">
                    <a class=" w-50 h-50 p-2 text-blue-400 transition-colors duration-200 rounded-full bg-blue-50 hover:text-blue-600 hover:bg-blue-100 focus:outline-none focus:bg-blue-100 focus:ring-blue-800"
                        routerLink="/signup">
                        <img class="rounded mx-auto" src="../../../assets/icon/signup64.png" alt="Admin" />
                    </a>
                    <a class="w-50 h-50 p-2 text-blue-400 transition-colors duration-200 rounded-full bg-blue-50 hover:text-blue-600 hover:bg-blue-100 focus:outline-none focus:bg-blue-100 focus:ring-blue-800"
                        routerLink="/login">
                        <img class="rounded mx-auto" src="../../../assets/icon/login64.png" alt="Admin" />
                    </a>
                </div>


            </div>

            <!-- list place -->
            <div class="ml-0 md:ml-12 lg:w-2/3 sticky">
                <div class="container mx-auto w-full h-full">
                    <div class="relative wrap overflow-hidden p-10 h-full">
                        <div class="border-2-2 border-yellow-555 absolute h-full border"
                            style="right: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
                        <div class="border-2-2 border-yellow-555 absolute h-full border"
                            style="left: 50%; border: 2px solid #FFC100; border-radius: 1%;"></div>
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-200">Hospital</p>
                                <div class="flex">
                                    <h4 class="mb-3 font-bold text-lg md:text-2xl">marked on the map with</h4>
                                    <img class="object-none ml-10 mr-2" src="../../../assets/icon/hospital.png" />
                                </div>
                                <p class="text-sm md:text-base leading-snug text-white text-opacity-100">
                                    Find the nearest hospital within a 20km radius.
                                </p>
                            </div>
                        </div>
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1  w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-200">School</p>
                                <div class="flex">
                                    <h4 class="mb-3 font-bold text-lg md:text-2xl">icon show</h4>
                                    <img class="object-none ml-5" src="../../../assets/icon/education.png" />
                                </div>
                                <p class="text-sm md:text-base leading-snug text-white text-opacity-100">
                                    Find the nearest hospital within a 20km radius.
                                </p>
                            </div>
                        </div>
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-200">University</p>
                                <div class="flex">
                                    <h4 class="mb-3 font-bold text-lg md:text-2xl">marked on the map with</h4>
                                    <img class="object-none ml-10 mr-2" src="../../../assets/icon/university.png" />
                                </div>
                                <p class="text-sm md:text-base leading-snug text-white text-opacity-100">
                                    Find the nearest hospital within a 20km radius.
                                </p>
                            </div>
                        </div>
                        <div class="mb-8 flex justify-between items-center w-full right-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1  w-5/12 px-1 py-4 text-left">
                                <p class="mb-3 text-base text-yellow-200">Supermarket</p>
                                <div class="flex">
                                    <h4 class="mb-3 font-bold text-lg md:text-2xl">icon show</h4>
                                    <img class="object-none ml-5" src="../../../assets/icon/supermarket.png" />
                                </div>
                                <p class="text-sm md:text-base leading-snug text-white text-opacity-100">
                                    Find the nearest hospital within a 20km radius.
                                </p>
                            </div>
                        </div>
                        <div class="mb-8 flex justify-between flex-row-reverse items-center w-full left-timeline">
                            <div class="order-1 w-5/12"></div>
                            <div class="order-1 w-5/12 px-1 py-4 text-right">
                                <p class="mb-3 text-base text-yellow-200">Park</p>
                                <div class="flex">
                                    <h4 class="mb-3 font-bold text-lg md:text-2xl">marked on the map with</h4>
                                    <img class="object-none ml-10 mr-2" src="../../../assets/icon/park.png" />
                                </div>
                                <p class="text-sm md:text-base leading-snug text-white text-opacity-100">
                                    Find the nearest hospital within a 20km radius.
                                </p>
                            </div>
                        </div>
                    </div>
                    <img class="mx-auto -mt-6 w-[400px] mb-5" src="../../../assets/icon/freemap.png" />
                </div>
            </div>
        </div>
    </div>
</div>