<!-- <div class="">
    <div class="flex col justify-between p-2 bg-[#9cc0f9]">
        <div class="flex col">
            <img class="w-[50px] ml-10 mr-2" src="../../../assets/icon/world-map.png" routerLink="/" />
            <a class="mt-auto mb-auto text-black text-lg font-semibold uppercase cursor-pointer hover:text-gray-50 no-underline"
                routerLink="/">AngularPlaces.net</a>
        </div>
        <div class="mt-auto mb-auto">
            <p
                class="bg-transparent hover:text-white rounded shadow hover:shadow-lg border hover:border-transparent py-2 px-4 mr-10">
                Choose a location </p>
        </div>
    </div>
</div>

 -->


 
<!-- header -->
<div class="">
    <div class="flex col justify-center p-2 bg-[#9cc0f9]">
        <img class="w-[50px] ml-10 mr-2" src="../../../assets/icon/world-map.png" routerLink="/" />
        <a class="mt-auto mb-auto text-[#003366] text-lg font-semibold uppercase cursor-pointer hover:text-white no-underline"
            routerLink="/">AngularPlaces.net</a>
    </div>
</div>



<!-- <div class="nav_main">
    <div class="row">
        <div class="col-md-3">
            <a routerLink="/">AngularPlaces.net</a>
        </div>
        <div class="col-md-6">
            <ul>
                <li><a routerLink="/Hospital">Hospital</a></li>
                <li><a routerLink="/School">School/University</a></li>
                <li><a routerLink="/Park">Park</a></li>
                <li><a routerLink="/Supermarket">Supermarket </a></li>
                <li><a routerLink="/other-place">Other</a></li>
            </ul>
        </div>
        <div class="col-md-3">
            <form action="">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search by name">
                    <div class="input-group-append">
                        <button class="btn btn-success" type="submit">
                            <i class="fa fa-search">Find</i>
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
 -->