<div class="relative flex items-top justify-center min-h-screen bg-gray-100 dark:bg-gray-900 sm:items-center sm:pt-0">
    <div class="max-w-xl mx-auto">
        <div class="flex justify-center p-10 mx-auto">
            <div class="text-lg p-2 text-gray-500 border-r border-gray-400 tracking-wider">
                404
            </div>
            <div class="text-lg p-2 text-gray-500 uppercase tracking-wider">
                Not Found
            </div>
        </div>

        <a class="w-50 h-50 cursor-pointer transition-colors duration-200 rounded-full bg-blue-50 focus:outline-none focus:bg-blue-100 focus:ring-blue-800" routerLink="/">
            <!-- <img class="rounded mx-auto" src="../../../assets/icon/homepage.png" alt="homepage"/> -->
        </a>
        <img class="rounded mx-auto cursor-pointer " src="../../../assets/icon/homepage.png" alt="homepage" routerLink="/"/>

        <div class="flex justify-center p-10 text-gray-500 uppercase tracking-wider">
            Back to home
        </div>
    </div>
</div>