<!-- <google-map height="400px"
            width="750px"
            [center]="center"
            [zoom]="zoom"
            (mapClick)="moveMap($event)"
            (mapMousemove)="move($event)">
</google-map>

<div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div>
 -->



<google-map height="400px" width="full" [center]="center" [zoom]="zoom" (mapClick)="addMarker($event)">
  @for (position of markerPositions; track position) {
  <map-marker [position]="position" [options]="markerOptions">
  </map-marker>
  }
</google-map>

<!-- <div>Latitude: {{display?.lat}}</div>
<div>Longitude: {{display?.lng}}</div> -->


<!-- 
<google-map height="400px"
            width="750px"
            [center]="center"
            [zoom]="zoom">
  <map-rectangle [bounds]="bounds"></map-rectangle>
</google-map> -->