
    <!-- Sidebar -->
    <aside class="flex-shrink-0 hidden w-64 bg-white border-r md:block">
        <div class="flex flex-col h-full">
            <!-- Sidebar links -->
            <nav aria-label="Main" class="flex-1 px-2 py-4 space-y-2 overflow-y-hidden hover:overflow-y-auto">
                <a>
                    <span class="ml-2 text-sm"> Admin-Dashboard </span>
                </a>
                <div role="menu" class="mt-2 space-y-2 px-7" aria-label="Dashboards">
                    <a href="#" role="menuitem"
                        class="block p-2 text-sm text-gray-400 transition-colors duration-200 rounded-md hover:text-gray-700">
                        Default
                    </a>
                    <a href="#" role="menuitem"
                        class="block p-2 text-sm text-gray-400 transition-colors duration-200 rounded-md hover:text-gray-700">
                        Project Mangement
                    </a>
                    <a href="#" role="menuitem"
                        class="block p-2 text-sm text-gray-400 transition-colors duration-200 rounded-md hover:text-gray-700">
                        E-Commerce
                    </a>
                </div>
            </nav>
        </div>
    </aside>