<header class="relative bg-white">
    <div class="flex items-center justify-between p-2 border-b">
        <a href="#" class="inline-block text-2xl font-bold tracking-wider text-blue-700 uppercase">
            AngularPlaces.net
        </a>

        <!-- Desktop Right buttons -->
        <nav aria-label="Secondary" class="hidden space-x-2 md:flex md:items-center">
            <!-- Notification button -->
            <button
                class="p-2 text-blue-400 transition-colors duration-200 rounded-full bg-blue-50 hover:text-blue-600 hover:bg-blue-100 focus:outline-none focus:bg-blue-100 focus:ring-blue-800">
                <mat-icon aria-hidden="false" aria-label="Example home icon"
                    fontIcon="notifications"></mat-icon>
            </button>

            <!-- Search button -->
            <button
                class="p-2 text-blue-400 transition-colors duration-200 rounded-full bg-blue-50 hover:text-blue-600 hover:bg-blue-100 focus:outline-none focus:bg-blue-100 focus:ring-blue-800">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="search"></mat-icon>
            </button>

            <!-- Settings button -->
            <button
                class="p-2 text-blue-400 transition-colors duration-200 rounded-full bg-blue-50 hover:text-blue-600 hover:bg-blue-100  focus:outline-none focus:bg-blue-100  focus:ring-blue-800">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="settings"></mat-icon>
            </button>

            <!-- User avatar button -->
            <button
                class="p-2 text-blue-400 transition-colors duration-200 rounded-full bg-blue-50 hover:text-blue-600 hover:bg-blue-100 focus:outline-none focus:bg-blue-100 focus:ring-blue-800">
                <!-- <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="person"></mat-icon> -->
                <img class="w-10 h-10 rounded-full" src="../../../assets/img/login.png" alt="Admin" />
            </button>
        </nav>
    </div>
</header>